/*
*{
    box-sizing: border-box;
}
*/

html,body{
    padding: 0;
    margin: 0;
    font-size: 0;
}

#slider{
    position: relative;
/*    overflow: hidden;*/
    height: 100vh;
    width: 400vw;
}
.slide-show{
    overflow: hidden;
    position: absolute;
    height: 100vh;
}
.single-slide{
    position: relative;
    top:0;
    bottom: 0;
    display: inline-block;
    width: 25%;
}
img{
    height: 100vh;
    width: 100vw;
}
.slide-caption{
    position: absolute;
    top:50vh;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 5;
    color: #fff;
    font-size: 40px;
}
.slider-arrows button{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}
.prev-slide{
    position: absolute;
    left: 0;
    z-index: 9;
}
.next-slide{
    position: absolute;
    right: 0;
    z-index: 9;
}















