#container{
    width: 306px;
    height: 306px;
}
.square{
    width: 100px;
    height: 100px;
    margin: 1px;
    float: left;
    position: relative;
}
#square1{
    background-color: red;
}
#square2{
    background-color: blue;
}
#square3{
    background-color: green;
}
#square4{
    background-color: yellow;
}
#square5{
    background-color: black;
}
#square6{
    background-color: orange;
}
#square7{
    background-color: purple;
}
#square8{
    background-color: gray;
}
#square9{
    background-color: pink;
}
.circle{
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 31px;
    position: absolute;
    top: 19px;
    left: 19px;
}
#circle1{
    background-color: pink;
}
#circle2{
    background-color: gray;
}
#circle3{
    background-color: purple;
}
#circle4{
    background-color: green;
}
#circle5{
    background-color: red;
}
#circle6{
    background-color: blue;
}
#circle7{
    background-color: orange;
}
#circle8{
    background-color: yellow;
}
#circle9{
    background-color: black;
}