/* selektor znacznika */
p {
    color: orange;
}

/* selektor id*/
#id-text {
    color: blue;
    font-size: 22px;
}

/*łączenie selektorów*/
.link, span, #title {
    background-color: red;
    color: green;
}

/* selektor bezpośredniego potomka */
#potomek-bezposredni > p {
    color: chartreuse;
}

/* selektor wszystkich elementow potomnych */
#lista a {
    font-weight: bold;
}

/* selektor konkretnego elemntu */
#lista2 li:nth-child(2){
    color: blueviolet;
    font-size: 20px;
}

#lista3 li:nth-child(3n+4){   /* zaczyna od 4 elementu */
    color: blueviolet;
    font-size: 20px;
}
/* selektor bliskieo rodzeństwa */
header h2 + h3 {
    color: red;
}

/* selektor rodzeństwa */
section h2 ~ h3 {
    color: darkgoldenrod;
}

/* selektor wykluczający */
ul li:not(.last-item){
    color: coral;
}