#container{
    background-color: green;
    width: 500px;
    height: 600px;
    position: relative;
}
.square{
    background-color: orange;
    width: 100px;
    height: 100px;
    position: absolute;
}
.circle{
    background-color: blue;
    width: 50px;
    height: 50px;
    position: absolute;
    border: 1px solid black;
    border-radius: 26px; 
}
#square2{
    right: 0;
}
#square3{
    bottom: 0;
}
#square4{
    right: 0;
    bottom: 0;
}
#circle1{
    right: 0;
    bottom: 0;
}
#circle2{
    bottom: 0;
}
#circle3{
    right: 0;
}
