@media(max-width:1200px){

    body{
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    font-weight: 300;
}
section{
    background-color: #f9fcfe;
}

p{
    line-height: 25px;
}

/* nawigacja */

#main-nav{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top:0;
    z-index: 2;
}
#main-nav ul{
    margin: 20px;
/*    float: right;*/
}
#main-nav ul li{
    display: inline;
    padding: 10px 10px;
}
#main-nav ul li a{
    color: #1ac056;
    text-decoration: none;
}

/*Header*/

#main-header{
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    color: #fff;
}
#main-header .headre-content{
    padding: 30vh;
    text-align: center;
    
}
#main-header .headre-content h1{
    font-family: 'roboto', sans-serif;
    font-weight: 200;
    font-size: 50px;
}
#main-header .headre-content h1 span{
    color: #1ac056;
    font-weight: 300;
}
#main-header .headre-content h2{
    font-weight: 200;
    font-size: 20px;
}
span{
    color: #1ac056;
}
#fotoDowod{
    width: 100%;
    border: 14px #fff solid;
    border-radius: 15px;
    margin: 0 auto;
    float: none;
}
#main-paragraf{
    margin-left: 20px;
}
#main{
    height: 400px;
    box-shadow: 1px 5px 5px lightgray;
}

/*Umiejętności*/

#main h3, #umiejetnosci h3, #portfolio h3{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
#umiejetnosci{
    height: 300px;
    text-align: center;
    display: block;
}
#ikony figure{
    display: block;
    margin: 20px;
}

/* Portfolio 
}
#fotoPortfolio{
    text-align: center;
}
#fotoPortfolio div {
    display: inline-block;
}
#fotoPortfolio div img{
    width: 300px;
}*/

/* Portfolio */

#portfolio .portfolio-items{
    font-size: 0px;
    text-align: center;
    display: block;
}

.portfolio-item{
    height: 350px;
    background-size: cover;
    background-position: center;
    display: block;
    width: 100%;
    position: relative;
    font-size: initial;
}

#portfolio .portfolio-items #portfolio-item-1{
    background-image: url(../img/portfolio1.jpg);
}
#portfolio .portfolio-items #portfolio-item-2{
    background-image: url(../img/portfolio2.jpg);
}
#portfolio .portfolio-items #portfolio-item-3{
    background-image: url(../img/portfolio3.jpg);
}

#portfolio .portfolio-item-mask{
    opacity: 0;
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
#portfolio .portfolio-item-mask:hover{
    opacity: 1;
}
#portfolio .mask-content{
    border: 1px solid white;
    margin: 10px;
    position: relative;
    height: 330px;
}

#portfolio .mask-content-inner{
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    padding: 5px;
    top:50%;
    transform: translateY(-50%)
}

#portfolio .mask-content-inner h3{
    margin-top: 15px;
    margin-bottom: 10px;
}

#portfolio .mask-content-inner h4{
    margin-top: 15px;
    margin-bottom: 10px;
}

#portfolio .mask-content-inner .fa-check-circle:hover{
    color: #1ac056;
}

/* End Portfolio*/

/* Contact */

#contact{
    background-color: #213b50;
    font-size: 0px;
    padding: 30px;
    width: 100%;
}

input{
    display: block;
}

input, textarea{
    background-color: #213b50;
    height: 35px;
    padding-left: 10px;
    border: none;
    background-color: #294b50;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

#d1{
    width: 100%;
    display: block;
    font-size: 20px;
    vertical-align: top;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

#d2{
    width: 100%;
    display: block;
    font-size: 20px;
    margin: 0 auto;
}

input[type="submit"]{
    width: 100%;
    background-color: chartreuse;
    border: none;
    margin: 0 auto;
    position: relative;
    left: auto;
}

textarea{
    padding-top: 10px;
    height: 50px;
}

address{
    color: #fff;
    font-size: 15px;
}

#footer_h1{
    padding-bottom: 50px;
}

#address_d1, #address_d1{
    padding-bottom: 20px;
} 

i{
    border: 2px solid #000;
    margin: 10px;
    margin-top: 30px; 
}

footer p{
    font-size: 12px;
    padding-left:  50px;
    background-color: #213b80;
    color: #fff;
}

#i_footer{
    border-style: none;
    vertical-align: center;
    margin: 0;
}

/* End Contact */

}









