*{
   box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    font-weight: 300;
}
section{
    background-color: #f9fcfe;
}

/* nawigacja */

#main-nav{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top:0;
    z-index: 2;
}
#main-nav ul{
    margin: 20px;
/*    float: right;*/
}
#main-nav ul li{
    display: inline;
    padding: 20px 40px;
}
#main-nav ul li a{
    color: #1ac056;
    text-decoration: none;
}

/*Header*/

#main-header{
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    color: #fff;
}
#main-header .headre-content{
    padding: 30vh;
    text-align: center;
    
}
#main-header .headre-content h1{
    font-family: 'roboto', sans-serif;
    font-weight: 200;
    font-size: 50px;
}
#main-header .headre-content h1 span{
    color: #1ac056;
    font-weight: 300;
}
#main-header .headre-content h2{
    font-weight: 200;
    font-size: 20px;
}
span{
    color: #1ac056;
}
#main h3{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
#fotoDowod{
    margin-left: 190px;
    margin-right: 190px;
    float: left;
    width: 20%;
    border: 14px #fff solid;
    border-radius: 15px;
}
#main-paragraf{
    margin-left: 20px;
}
#main{
    height: 400px;
    box-shadow: 1px 5px 5px lightgray;
}
#umiejetnosci h3{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
